{% extends 'authentication/base.html' %}

{% block content %}
	This will show the list of containers
	<br>
	<table style="border: 1px solid black">
		<tr>
			<th>Container id</th>
			<th>Container Name</th>
			<th>Container Type</th>
			<th>Container state</th>
		</tr>
		{% for c in containers %}
		<tr>
				<td>{{ c.id }}</td>
				<td>{{ c.containerType }}</td>
				<td>{{ c.containerName }}</td>
				<td>{{ c.currentState }}</td>
				<td></td>
			
		</tr>
		{% endfor %}
	</table>
	<form method="post" action="{% url 'index' %}">
      <p>Test</p>
      Username: 
      <input type="text" name="username"><br>
     
	  <input type="submit" value="dsqfmklj" /><br>
  	</form> 

    <br>
	
	<br>
	<a href="{% url 'create' %}">Create a container</a>



{% endblock %}
